<div class="flex justify-center">
  <div class="h-auto py-5 px-5 w-[90%]">
    <h2 class="text-text-medium font-bold mb-4 text-blue-color">Posts</h2>
    <div *ngIf="paginatedPosts.length === 0 && !(loadingPosts$ | async)">
      <p class="text-lg text-gray-500">No posts found.</p>
    </div>
    <div *ngIf="!(loadingPosts$ | async) && paginatedPosts.length > 0">
      <div>
        <ul class="space-y-4">
          <li
            *ngFor="let post of paginatedPosts"
            class="p-4 bg-bg-secondary rounded shadow flex flex-col lg:flex-row items-center transform hover:scale-x-105 transition duration-150 cursor-pointer"
          >
            <div class="w-[90%]">
              <h3 class="text-text-medium font-bold">{{ post.title }}</h3>
              <p class="text-text-secondary">
                {{ post.body | truncate : 100 }}
              </p>
            </div>
            <div class="flex items-center justify-evenly w-full lg:w-[20%]">
              <div
                class="cursor-pointer transform hover:scale-110"
                [routerLink]="['/view-post', post.id]"
                *ngIf="!isLoading || loadingPostId !== post.id"
              >
                <img src="assets/view.svg" alt="view" class="w-10 h-w-10" />
              </div>
              <div
                *ngIf="isLoading && loadingPostId === post.id"
                class="flex justify-center items-center"
              >
                <div
                  class="loader ease-linear rounded-full border-8 border-t-8 border-gray-200 h-10 w-10"
                ></div>
              </div>
              <div
                class="cursor-pointer transform hover:scale-110"
                (click)="deletePost(post.id)"
                *ngIf="deletingPostId !== post.id"
              >
                <img src="assets/delete.svg" alt="delete" class="w-10 h-w-10" />
              </div>
              <div
                *ngIf="deletingPostId === post.id"
                class="flex justify-center items-center"
              >
                <div
                  class="loader ease-linear rounded-full border-8 border-t-8 border-red-500 h-10 w-10"
                ></div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <app-pagination
        [currentPage]="currentPage"
        [totalPages]="totalPages"
        (pageChange)="onPageChange($event)"
      ></app-pagination>
    </div>
    <div
      *ngIf="loadingPosts$ | async"
      class="flex flex-col gap-3 lg:flex-row justify-center items-center h-64"
    >
      <p class="text-lg text-gray-500">Loading Posts...</p>
      <div
        class="loader ease-linear rounded-full border-8 border-t-8 border-gray-200 h-10 w-10"
      ></div>
    </div>
  </div>
</div>
