<app-navigation></app-navigation>
<app-home></app-home>
<h2 class="text-heading-large font-bold mb-4 text-text-black">Home</h2>
<ul class="space-y-4">
  <li
    *ngFor="let post of paginatedPosts"
    class="p-4 bg-bg-secondary rounded shadow"
  >
    <h3 class="text-text-medium font-bold">{{ post.title }}</h3>
    <p class="text-text-secondary">{{ post.body }}</p>
  </li>
</ul>

<app-pagination
  [currentPage]="currentPage"
  [totalPages]="totalPages"
  (pageChange)="onPageChange($event)"
></app-pagination>
<app-footer></app-footer>
