<div class="flex justify-center items-center mt-6 space-x-4">
  <app-button
    (click)="goToPage(currentPage - 1)"
    [additionalClasses]="'disabled:opacity-50 rounded-r-none !rounded-l-xl'"
    [text]="'Previous'"
    [disabled]="currentPage === 1"
  ></app-button>
  <span class="text-xs lg:text-lg text-text-black"
    >Page {{ currentPage }} of {{ totalPages }}</span
  >
  <app-button
    (click)="goToPage(currentPage + 1)"
    [additionalClasses]="'disabled:opacity-50'"
    [text]="'Next'"
    [disabled]="currentPage === totalPages"
  ></app-button>
</div>
