<div class="py-16 px-10">
  <div *ngIf="isLoading" class="flex justify-center items-center h-64">
    <p class="text-lg text-gray-500">Loading...</p>
  </div>
  <div *ngIf="!isLoading && post" class="py-16 px-10 flex flex-col gap-5">
    <div>
      <div
        *ngIf="post"
        class="max-w-4xl mx-auto p-6 bg-white rounded-lg shadow-md"
      >
        <h2 class="text-2xl font-bold text-gray-800 mb-4">{{ post.title }}</h2>
        <p class="text-gray-600">{{ post.body }}</p>
      </div>
      <div *ngIf="!post" class="flex justify-center items-center h-64">
        <p class="text-lg text-gray-500">Loading...</p>
      </div>
    </div>
    <div class="flex items-center justify-evenly w-full">
      <div class="cursor-pointer flex items-center gap-3">
        <img
          src="assets/update.svg"
          alt="update"
          class="w-10 h-w-10 transform hover:scale-110 transition duration-150"
        />
        <p>Edit</p>
      </div>
      <div
        class="cursor-pointer flex items-center gap-3"
        (click)="deletePost(post.id)"
        *ngIf="deletingPostId !== post.id"
      >
        <img
          src="assets/delete.svg"
          alt="delete"
          class="w-10 h-w-10 transform hover:scale-110 transition duration-150"
        />
        <p>delete</p>
      </div>
      <div
        *ngIf="deletingPostId === post.id"
        class="cursor-pointer flex items-center gap-3"
      >
        <div
          class="loader ease-linear rounded-full border-8 border-t-8 border-red-500 h-10 w-10"
        ></div>
        <p>delete</p>
      </div>
    </div>
  </div>
  <div
    *ngIf="!isLoading && !post"
    class="flex justify-center items-center h-64"
  >
    <p class="text-lg text-gray-500">Post not found.</p>
  </div>
</div>
